:root{
    --white: #ffffff;
    --brown: #854632;
    --rose: #fff5fa;
    --pink: #6A3E54;
    --light_pink: #FFF7FC;
    --bg: #F3E5D8;
    --text: #454545;
}

body {
    /* background-color:  #F3E5D8; */
    background-color: var(--bg);
    max-width: 960px;
    margin: 0 auto;
}

html{
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
    color: #454545;
}
h1, h2{
    /* color: hsl(12, 40%, 35%); */
    color: var(--brown);
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: "Young Serif", serif;
    font-weight: 400;
}

ul li::marker{
    color: hsl(330, 26%, 33%);

}
ol li::marker{
    color: var(--brown);
    font-weight: 800;
}

li{

    padding: 6px;
}

table{
    width: 100%;
    padding: 10px;
}

td{
    border-bottom: 1px solid #ddd;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
}

td:nth-child(2){
    color: var(--brown);
    font-weight: 600;
}

hr{
    color: rgba(0, 0, 0, 0.1);
    
}
.whiteContainer{
    background-color: white;
    margin-top: 102px;
    margin-bottom: 102px;
    border-radius: 32px;
    padding: 32px;
}
.center{
    display: block;
    max-width:  100%;
    border-radius: 16px;
}

.prepTime{
    margin-top: 32px;
    background-color: hsl(322, 100%, 98%);
    border-radius: 8px;
    padding: 16px;
}

#id_recipeTitle{
    font-size: 60px;
    font-family: "Young Serif", serif;
    color: hsl(24, 5%, 18%);
}

#id_prepTime{
    font-family: "Outfit", serif;
    font-weight: 600;
    color: var(--pink)
}






